<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" href="bootstrap/css/bootstrap.css" />

<!-- <link rel="stylesheet" type="text/css" href="slick/slick.css" />
<link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="slick/slick-custom-theme.css" /> -->

<!-- <link rel="stylesheet" href="nivo-slide/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slide/themes/light/light.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slide/themes/dark/dark.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slide/themes/bar/bar.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slide/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="nivo-slide/style.css" type="text/css" media="screen" /> -->

<link rel="stylesheet" href="colorbox/colorbox.css" />

<link rel="stylesheet" type="text/css" href="css/global-style.css" />
<link rel="stylesheet" type="text/css" href="css/response.css" />

<link rel="stylesheet" type="text/css" href="font-awesome-4.6.3/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css" />

<link href='http://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" type="text/css" href="hover-efffect/css/normalize.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="hover-efffect/css/demo.css" />
<link rel="stylesheet" type="text/css" href="hover-efffect/css/set1.css" />
<link rel="stylesheet" type="text/css" href="hover-efffect/css/set2.css" /> -->

<!-- <script type="text/javascript" src="js/Jquery 3.1.0/jquery-3.1.0.min.js"></script> -->
<script type="text/javascript" src="scripts/jquery-1.9.0.min.js"></script>
<!-- <script type="text/javascript" src="jquery/jquery-3.1.0.js"></script> -->
<script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.min.js"></script>
<!-- <script type="text/javascript" src="slick/slick.js"></script> -->
<script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="colorbox/jquery.colorbox.js"></script>
<!-- <script type="text/javascript" src="nivo-slide/jquery.nivo.slider.js"></script> -->

<script src="js/jsmobile.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		//Examples of how to assign the Colorbox event to elements
		$(".group1").colorbox({rel:'group1'});
	});
</script>
</head>
<body>
	<div class="container">
		<section class="row">
			<p class="title_p"><i class="fa fa-cart-plus" style="color: #0289ce;"></i> Đặt mua sim 0985.135.9999</p>
		</section>
		<section class="row">
			<div class="table_info">
				<ul class="ul clearfix" style="background:#f5efd5;">
					<li>
						Số thuê bao
					</li>
					<li>
						Ngũ hành sim
					</li>
					<li>
						Sim hợp mệnh
					</li>
					<li>
						Giá bán
					</li>
				</ul>
				<ul class="ul clearfix">
					<li>
						<label>0985135999</label>
					</li>
					<li>
						0985135999
					</li>
					<li>
						0985135999
					</li>
					<li>
						<label class="textred">50.000.000</label>
					</li>
				</ul>
				<hr>
			</div>
		</section>
		<section class="row">
			<p class="info_contact"><i class="fa fa-user" style="color: #0289ce;"></i> Thông tin khách hàng</p>
			<p>Mời quí khách đặt sim hoặc liên hệ <span class="textred">0985.135.999</span></p>
			<p style="background:#fdff72;">Trong trường hợp không liên hệ được thì chúng tôi sẽ gọi lại ngay</p>
		</section>
		<section class="row">
			<div class="form_order">
				<form>
					<ul class="ul">
						<li>
							<label>Họ và tên</label><input type="" name="">
						</li>
						<li>
							<label>Địa chỉ nhận sim</label><input type="" name="">
						</li>
						<li>
							<label>Tỉnh thành</label><select><option>Hà Nội</option></select>
						</li>
						<li>
							<label>Số điện thoại</label><input type="" name="">
						</li>
						<li>
							<label>Ghi chú</label><textarea></textarea>
						</li>
						<li>
							<label>&nbsp</label>
							<div class="boxButton">
								<button>Đặt mua sim</button>
							</div>
						</li>
					</ul>
				</form>
			</div>
		</section>
	</div>
	
</body>
</html>